<?xml version="1.0"?>

<rss version="2.0">

  <channel>

    <title><%= h title %></title>

    <% if url %><link><%= url %></link><% end %>

    <% if homepage %><link><%= homepage %></link><% end %>

    <description>Release History</description>

    <language>en-us</language>

    <pubDate><%= Time.now.rfc822 %></pubDate>

    <lastBuildDate><%= Time.now.rfc822 %></lastBuildDate>

    <docs>http://blogs.law.harvard.edu/tech/rss</docs>

    <generator>VCLog</generator>

    <managingEditor><%= email %> (<%= user %>)</managingEditor>

    <webMaster><%= email %> (<%= user %></webMaster>

<% changelog.changes.sort{|a,b| b.date <=> a.date}.each do |entry| %>

    <item>
      <title><%= h entry.summary %></title>

      <author><%= entry.author %></author>

      <link></link>

      <pubDate><%= entry.date.rfc822 %></pubDate>

      <guid><%= url %>#<%= entry.id %></guid>

      <description><![CDATA[
        <%= entry.message %><br/>
        <%= entry.author %> <%= entry.date.strftime('%Y-%m-%d %H:%M:%S') %>
      ]]></description>

    </item>

<% end %>

  </channel>

</rss>

