<?xml version="1.0"?>

<rss version="2.0">

  <channel>

    <title><%= h title %></title>

    <% if url %><link><%= url %></link><% end %>

    <% if homepage %><link><%= homepage %></link><% end %>

    <description>Release History</description>

    <language>en-us</language>

    <pubDate><%= Time.now %></pubDate>

    <lastBuildDate><%= Time.now %></lastBuildDate>

    <docs>http://blogs.law.harvard.edu/tech/rss</docs>

    <generator>VCLog</generator>

    <managingEditor><%= email %> (<%= user %>)</managingEditor>

    <webMaster><%= email %> (<%= user %></webMaster>

<% changelog.changes.sort{|a,b| b.date <=> a.date}.each do |entry| %>

    <item>

      <title><%= h entry.message.lines.first.rstrip %></title>

      <author><%= h entry.author %></author>

      <link></link>

      <description><![CDATA[

        <%= entry.message %>

      ]]></description>

      <pubDate><%= entry.date %></pubDate>

      <guid><%= url %>#<%= entry.revision %></guid>

    </item>

<% end %>

  </channel>

</rss>

