<?xml version="1.0"?>

<feed xmlns="http://www.w3.org/2005/Atom">

  <title><%= title %></title>

  <% if url %><link href="<%= url %>" /><% end %>

  <% if homepage %><link href="<%= homepage %>" /><% end %>

  <id><% if repo.uuid %>urn:uuid:<%= repo.uuid %><% else %><%= repo.repository %><% end %></id>

  <updated><%= Time.now.xmlschema %></updated>

  <author>

    <name><%= user %></name>

    <email><%= email %></email>

  </author>

<% changelog.changes.sort{|a,b| b.date <=> a.date}.each do |entry| %>

  <entry>

    <title><%= h entry.summary %></title>

    <id><%= url %>#<%= entry.id %></id>

    <author><%= entry.author %></author>

    <updated><%= entry.date.xmlschema %></updated>

    <content type="xhtml">

      <div xmlns="http://www.w3.org/1999/xhtml">

        <%= entry.message %><br/>

        <%= entry.author %> <%= entry.date.strftime('%Y-%m-%d %H:%M:%S') %>

      </div>

    </content>

  </entry>

<% end %>

</feed>

