<?xml version="1.0"?>

<feed xmlns="http://www.w3.org/2005/Atom">

  <title><%= title %> Feed</title>

  <subtitle>Release History</subtitle>

  <% if url %><link href="<%= url %>" /><% end %>
 
  <% if homepage %><link href="<%= homepage %>" /><% end %>

  <id><% if vcs.uuid %>urn:uuid:<%= vcs.uuid %><% else %><%= vcs.repository %><% end %></id>

  <updated><%= Time.now.xmlschema %></updated>

  <author>

    <name><%= user %></name>

    <email><%= email %></email>

  </author>

<% history.releases.sort.each do |release| %>

<% tag = release.tag %>

  <entry>

    <title><%= h tag.name %></title>

    <id><%= url %>#<%= tag.revision %></id>

    <author><name><%= h tag.author %><name></author>

    <updated><%= tag.date.xmlschema %></updated>

    <summary><%= h tag.message %></summary>

    <content type="xhtml">

      <div xmlns="http://www.w3.org/1999/xhtml">

        <p><%= tag.message %></p>

<% if options.extra %>

<% release.groups.each do |number, changes| %>

        <h2><%= changes.size %> <%= changes[0].label %></h2>

        <ul class="log">

<% changes.sort{|a,b| b.date <=> a.date}.each do |entry| %>

          <li class="entry">

            <%= entry.message.rstrip %><br/>

            <%= entry.author %> <%= entry.date.strftime('%Y-%m-%d %H:%M:%S') %>

            <% if options.reference %>(#<%= entry.id %>)<% end %>

          </li>

<% end %>

        </ul>

<% end %>

<% end %>

      </div>

    </content>

  </entry>

<% end %>

</feed>

