<?xml version="1.0"?>

<rss version="2.0">

  <channel>

    <title><%= title %></title>

    <% if url %><link><%= url %></link><% end %>

    <% if homepage %><link><%= homepage %></link><% end %>

    <description>Release History</description>

    <language>en-us</language>

    <pubDate><%= Time.now.rfc822 %></pubDate>

    <lastBuildDate><%= Time.now.rfc822 %></lastBuildDate>

    <docs>http://blogs.law.harvard.edu/tech/rss</docs>

    <generator>VCLog</generator>

    <managingEditor><%= email %> (<%= user %>)</managingEditor>

    <webMaster><%= email %> (<%= user %>)</webMaster>

<% history.releases.sort.each do |release| %>

<% tag = release.tag %>

    <item>

      <title><%= tag.name %></title>

      <author><%= tag.author %></author>

      <link><%= url %>#<%= tag.revision %></link>

      <pubDate><%= tag.date.rfc822 %></pubDate>

      <guid isPermaLink="false"><%= url %>#<%= tag.revision %></guid>

      <description><![CDATA[

        <p><%= tag.message %></p>

<% if !options.summary %>

<% release.groups.each do |number, changes| %>

        <h2><%= changes.size %> <%= changes[0].label %></h2>

        <ul class="log">

<% changes.sort{|a,b| b.date <=> a.date}.each do |entry| %>

          <li class="entry">
            <%= entry.message.rstrip %><br/>

            <%= entry.author %> <%= entry.date.strftime('%Y-%m-%d %H:%M:%S') %>

            <% if options.reference %>(#<%= h entry.id %>)<% end %>           
          </li>

<% end %>

        </ul>

<% end %>

<% end %>

      ]]></description>

    </item>

<% end %>

  </channel>

</rss>

